html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

canvas {
  width: calc(100vmin - 10rem) !important;
  height: auto !important;
  image-rendering: pixelated;
}

button, p {
  padding: 1em;
  margin: 1em;
}
